/* Layout */
.con_1 {
	max-width: 480px;
	margin: 0 auto;
	padding: 1em;
}

.con_2 {
	max-width: 480px;
	margin: 0 auto;
	padding: 1em;
}



/* Demo One */
#drop-target-one,
#drop-target-one-selete,
#dd-files,
#dd-images {
	border: 2px dashed #dd0000;
	border-radius: 5px;
	padding: 5em 2em;
	text-align: center;
}

.over {
	background: #F7F7F7;
}

#drag-elements {
	list-style: none;
	padding: 0;
	margin: 0 0 1em;
}

#drag-elements li {
	display: inline-block;
	padding: 0.5em 1em;
	margin: 0 1em 1em 0;
	border: 1px solid #D9D9D9;
	background: #F7F7F7;
	border-radius: 3px;
}

/* Demo Two */
#drop-target-two,
#drop-target-two-selete,
#dd-files,
#dd-images {
	border: 5px dashed #dd0000;
	border-radius: 10px;
	padding: 5em 2em;
	text-align: center;
}

.over {
	background: #F7F7F7;
}

#drag-elements {
	list-style: none;
	padding: 0;
	margin: 0 0 1em;
}

#drag-elements li {
	display: inline-block;
	padding: 0.5em 1em;
	margin: 0 1em 1em 0;
	border: 1px solid #D9D9D9;
	background: #F7F7F7;
	border-radius: 3px;
}

/* Clearfix Utils */

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

