<div id="footer">
  <div class="container">
    <p class="text-muted">

      <span class="hidden-xs pull-left">
        <a href="http://www.iots.com.tw/" title="Open Source Internet of Things">Iots.com</a> |
        <a href="http://www.iots.com.tw/" title="The ThingSpeak Blog covering the web of things">Blog</a> |
        <a href="http://www.iots.com.tw/?page_id=47" title="maker">Forum</a> |
        <a href="/docs" title="Iots Documentation">Documentation</a> |
        <a href="http://www.iots.com.tw/?page_id=47" title="Tutorials on how to use Iots web services">Tutorials</a> |
        RSS Feed
      </span>
      <span class="pull-right">
        &copy;<%= Time.now.year %> <a href="https://thingspeak.com" title="Open Source Internet of Things">Iots</a> - Powered by <a href="http://www.iots.com.tw/" target="_blank">Iots</a>
      </span>

    </p>
  </div>
</div>

