<div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
        <%= image_tag 'IOTS.png', :size => '188x35', :style => 'padding: 0 8px; margin-top: 7px;' %>
      <% end %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <% if current_user %>

          <li class="<%= "active " if @menu == 'channels' %>dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=t(:頻道)%> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:我的頻道), channels_path %></li>
              <li><%= link_to t(:觀看頻道), watched_channels_path %></li>
              <li><%= link_to t(:公共頻道), public_channels_path %></li>
            </ul>
          </li>
          <li <%= "class=active" if @menu == 'plugins' %>><%= link_to t(:外掛), plugins_path %></li>
          <li class="<%= "active " if @menu == 'account' %>dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=t(:帳戶)%> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:我的帳戶), account_path %></li>
              <li><%= link_to t(:帳戶編輯), edit_account_path %></li>
              <li><%= link_to t(:公開設定), user_profile_path(current_user.login) %></li>
              <li><%= link_to t(:設定編輯), edit_profile_path %></li>
            </ul>
          </li>
          <% if current_admin_user.present? %>
            <li><%= link_to t(:admin), "/admin", 'data-no-turbolink' => 'true' %></li>
          <% end %>

        <% else %>
            <li <%= "class=active" if @menu == 'channels' %>><%= link_to t(:頻道), public_channels_path %></li>
        <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li class="<%= "active " if @menu == 'support' %>dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=t(:支援)%> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.iots.com.tw/?page_id=47"><%= t(:教學) %></a></li>
            <li><a href="http://www.iots.com.tw/?page_id=57"><%= t(:論壇) %></a></li>
            <li><a href="/docs"><%= t(:文件) %></a></li>
          </ul>
        </li>

        <li><a href="http://www.iots.com.tw/"><%= t(:部落格)%></a></li>

        <% if current_user %>
          <li><%= link_to t(:登出), logout_path %></li>
        <% else %>
          <li><%= link_to t(:登入), login_path %></li>
          <li><%= link_to t(:註冊), new_user_registration_path %></li>
        <% end %>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

